<p id="notice"><%= notice %></p>

<h1>Listings</h1>

<%= form_tag(search_page_path, :method => "get",   
    class: 'navbar-form navbar-left') do %>  
  <div class="border-2 border-gray-300 bg-white h-10 px-5 pr-16 rounded-lg text-sm focus:outline-none"
          type="search" name="search" placeholder="Search" >  
    <%= search_field_tag :search, params[:search], placeholder: "Search", class: "form-control" %>  
    <div class="input-group-btn">  
      <%= button_tag "", :class => 'btn btn-info glyphicon glyphicon-search',:name => nil%>  
    </div>  
  </div>  
<% end %>


<div class="flex flex-wrap">
    <% @listings.each do |listing| %>
      <div class="flex-column object-center object-contain">
          <%= listing.title %><br>
          $<%= listing.price %>
          <% if listing.photo.attached? %>
            <p class="object-contain w-52">
              <%= image_tag listing.photo%>
            </p>
          <% end %>
            Sold by: <%= listing.user.username %><br>
            <button class="text-gray-500 bg-transparent border border-solid border-gray-500 hover:bg-gray-500 hover:text-white active:bg-gray-600 font-bold uppercase text-xs px-4 py-2 rounded outline-none focus:outline-none mr-1 mb-1" type="button" style="transition: all .15s ease">
               <%= link_to 'Show', listing %>
            </button>
          
      </div>
    <% end %>
</div>

<button class="bg-green-500 text-white active:bg-green-600 font-bold uppercase text-xs px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none mr-1 mb-1" type="button" style="transition: all .15s ease">
  <%= link_to 'New Listing', new_listing_path %>
</button>
