<!DOCTYPE html>
<html>
  <head>
    <title>ReplayMarketplace</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'%>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="min-h-screen bg-gray-100 overscroll-auto">
<nav class="bg-gray-800 flex items-center space-x-8">
  <div class="flex items-center object-left">
<%= image_tag("replay-logo-transperent-bg.png", class: "w-32 object-contain") %>
<%= link_to "Replay", root_path %>
  </div>
  <div class="space-x-4">
<%= link_to "Browse", "/listings" %>
<%= link_to "FAQ", "/faq" %>
<% if user_signed_in?%>
  <%= link_to "Sign out", destroy_user_session_path, method:"delete" %>
<% else %>
  <%= link_to "Sign in", "/users/sign_in" %>
<%end%>
  </div>
</nav>

  <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
  <% elsif alert %>
    <p class="alert alert-danger"><%= alert %></p>
  <% end %>

  <%= yield %>

  </body>
</html>
